---
import Layout    from '@/layouts/Layout.astro'
import PlaceCard from '@/components/PlaceCard.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const entries = await getCollection('location')
  return entries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}


// This record

const { entry } = Astro.props
const { Content } = await entry.render()

---

<Layout title={entry.data.name}>
  <div class="mx-auto max-w-3xl grid gap-8">
    <PlaceCard place={entry} />

    <div class="prose mx-auto">
      <Content />
    </div>
  </div>
</Layout>
