---
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/Title.astro'
import CitizenCard from '@/components/CitizenCard.astro'

import { getCollection, getEntry, getEntries } from 'astro:content'

export async function getStaticPaths() {
  const people = await getCollection('person')
  return people.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}


// This record

const { entry } = Astro.props
const { Content } = await entry.render()

---

<Layout title={entry.data.day_name}>
  <div class="mx-auto max-w-3xl grid gap-16">
    <CitizenCard person={entry} />

    <div class="prose mx-auto">
      <Content />
    </div>
  </div>
</Layout>
