---
import Layout from '../layouts/Layout.astro'
---
<Layout title="Not Found" center sky="eveningside">
  <div class="prose mx-auto">
    <h1 class="max-w-prose mx-auto text-center text-3xl md:text-4xl mb-4 md:mb-8 lg:mb-16 font-title-wide">Not Found</h1>
    <p>Please ask your local <a href="/lore/library-of-eloryn">Librarian</a> for help.</p>
  </div>
</Layout>

