---
import Layout from '../layouts/Layout.astro'
import Title from '../components/Title.astro'

import { getEntry } from 'astro:content'

const intro = await getEntry('lore', 'introduction')
const { Content } = await intro.render()
---

<Layout title="Welcome to Longbrige">
  <div class="prose mx-auto">
    <Content />
  </div>
</Layout>
