---
import Layout from '../layouts/Layout.astro'

import { getEntry } from 'astro:content'

const { Content } = await getEntry('lore', 'introduction').then(e => e.render())
---
<Layout title="Welcome to Longbrige">
  <div class="prose mx-auto">
    <Content />
  </div>
</Layout>
