---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import ArticleBody from '../components/ArticleBody.astro';

import { getCollection, getEntry } from 'astro:content';

const intro = await getEntry('lore', 'introduction');
---

<Layout title="Welcome to Astro.">
  <main>
    <Title />

    <div class="mx-auto mt-16">
      <ArticleBody article={intro} />
    </div>
  </main>
</Layout>
