---
import Layout from '../layouts/Layout.astro'

import { getEntry, render } from 'astro:content'

const { Content } = await getEntry('lore', 'introduction').then(e => render(e))
---
<Layout title="Welcome to Longbridge" center>
  <div class="prose">
    <Content />
  </div>
</Layout>
