---
import WikiLink from '@/lib/wikilink.ts'
import LinkIcon from '@/icons/arrow-top-right-on-square.astro'

import { render } from 'astro:content'

interface Props {
  src: string
  level?: number
  heading?: string
}

const { src, heading = false, level = 2 } = Astro.props

// Gather entry
const link = WikiLink.split(src)
const entry = await link.resolve()
if (!entry) return
const { Content } = await render(entry)

// Render Heading etc
const Htag = 'h' + level
---

{ heading &&
  <Htag>
    <a class="font-weight-light" href={link.toUrl()}>
      {entry?.data.title}
      <LinkIcon class="ml-2" />
    </a>
  </Htag>
}

<div class="embedded">
  <Content />
</div>
