---
import { getEntry } from 'astro:content'
import { launderWikiLink } from '@utils'

import LinkIcon from '@/icons/arrow-top-right-on-square.astro'

interface Props {
  src: string
  level?: number
  heading?: string
}

const { src, heading = false, level = 2 } = Astro.props

// Gather entry
const [ coll, slug ] = launderWikiLink(src)
const entry = await getEntry(coll, slug)

// Render Heading etc
const Htag = 'h' + level
const { Content } = await entry!.render()
---

{ heading &&
  <Htag>
    <a class="font-weight-light" href={`/lore/${slug}`}>
      {entry?.data.title}
      <LinkIcon class="ml-2" />
    </a>
  </Htag>
}

<div class="embedded">
  <Content />
</div>
