---
import WikiLink from '@/lib/wikilink.ts'
import LinkIcon from '@/icons/arrow-top-right-on-square.astro'

interface Props {
  src: string
  level?: number
  heading?: string
}

const { src, heading = false, level = 2 } = Astro.props

// Gather entry
const link = WikiLink.split(src)
const entry = await link.resolve()

// Render Heading etc
const Htag = 'h' + level
const { Content } = await entry!.render()
---

{ heading &&
  <Htag>
    <a class="font-weight-light" href={`/lore/${link.slug}`}>
      {entry?.data.title}
      <LinkIcon class="ml-2" />
    </a>
  </Htag>
}

<div class="embedded">
  <Content />
</div>
