---
import { Markdown } from '@astropub/md'
import { firstChunk, stripLinks } from '@/lib/markdown'
import { type AnyContentEntry } from '@/content/config.ts'

import WikiLink from '@/lib/wikilink.ts'
import LinkIcon from '@/icons/arrow-top-right-on-square.astro'

interface Props {
  src:      string
  level?:   number
  heading?: boolean
}

const { src, heading = false, level = 2 } = Astro.props
const link = WikiLink.split(src)
const entry = await link.resolve()

// Process body to find just the first paragraph
const first = stripLinks(firstChunk(entry!.body))

// Render heading
const Htag = 'h' + level

// Rendering explicitly using astropub/md instead of built-in render function, since
// - the collection doc isn't modifyable from here
// - we don't want to support embeds in the summary snippet

---
{ heading &&
  <Htag>
    <a class="font-weight-light" href={`/lore/${link.slug}`}>
      {entry?.data.title}
      <LinkIcon class="ml-2" />
    </a>
  </Htag>
}

<Markdown of={first} />
