---
import { getCollection } from 'astro:content'
import { withSameTags } from '@utils'

import LinkIcon from '@/icons/arrow-top-right-on-square.astro'
import Summary  from '@comp/embed/Summary.astro'

interface Props {
  tag:      string
  limit:    number
  level?:   number
  heading?: boolean
}

const {
  tag,
  limit = 1,
  heading = false,
  level = 2
} = Astro.props

const Htag = 'h' + level

const entries = (await getCollection('lore', withSameTags([tag])))
  .slice(0, limit)
  .filter(Boolean)

---
{ heading &&
  <Htag>
    <a class="font-weight-light" href={`/tag/${tag}`}>
      Tagged '{tag}'
      <LinkIcon class="ml-2" />
    </a>
  </Htag>
}

{ entries.map((e) => <Summary src=`${e.collection}:${e.id}` heading level={4} />) }
