---
import Layout  from '@/layouts/Layout.astro'
import Heading from '@comp/PageHeading.astro'

import { getCollection } from 'astro:content'
import { collections, type AnyCollectionKey } from '@/content.config'
import { entryUrl } from '@utils'

type EntrySummary = {
  title: string
  url: string
}

// Collect all tags from all collections
const allTags:Record<string, EntrySummary[]> = {}

for (const coll of Object.keys(collections) as AnyCollectionKey[]) {
  (await getCollection(coll)).forEach((entry) => {
    if (entry.data.tags) {
      entry.data.tags.forEach((tag) => {
        const summary = { title: entry.data.title, url: entryUrl(entry) }
        if (!allTags[tag]) {
          allTags[tag] = [summary]
        } else {
          allTags[tag].push(summary)
        }
      })
    }
  })
}

---
<Layout title="Tags" sky="eveningside">
  <Heading>Tags</Heading>

  <div class="prose" x-data=`{ showCount: false, tagList: ${ JSON.stringify(Object.entries(allTags)) } }`>
    <div class="text-center">
      <button x-show="!showCount" @click="showCount = true" class="btn">Show Counts</button>
      <button x-show="showCount" @click="showCount = false" class="btn">Show Links</button>
    </div>

    <table>
      <template x-for="(tag, index) in tagList.sort((a, b) => showCount ? b[1].length - a[1].length : a[0].localeCompare(b[0]))" :key="index">
        <tr style="vertical-align:top">
          <td class="font-mono py-2 pr-2 border-b">
            <span class="text-xs" x-text="tag[0]"></span>
          </td>

          <td class="text-right py-2 border-b" x-show="showCount">
            <span x-text="tag[1].length"></span>
          </td>

          <td class="py-2 border-b" x-show="!showCount">
            <template x-for="entry in tag[1]" :key="entry.url">
              <div>
                <a :href="entry.url" x-text="entry.title"></a>
                <br />
              </div>
            </template>
          </td>
        </tr>
      </template>
    </table>
  </div>
</Layout>
