---
import { getEntry, CollectionEntry } from 'astro:content';
import { absolutePath } from '@utils';

interface Props {
  heading: string
  cl: string
}

const { heading, class: cl } = Astro.props;
---

<div class:list={[ cl, "bg-white/20 shadow-lg ring-4 ring-white/30 shadow-white/40" ]}>
  <div class="p-1 font-title-lesser text-sm bg-white/15 text-center ">
    { heading }
  </div>

  <div class="p-6">
    <slot />
  </div>
</div>
