---
import LinkIcon from '@/icons/arrow-top-right-on-square.astro';
import { getEntry } from 'astro:content';

const { slug } = Astro.props;
const entry = await getEntry('lore', slug);

interface Props {
  slug: string;
  heading: number;
}

const Heading = Astro.props.heading ?? 'h3';
const { Content } = await entry.render();
---

<Heading>
  <a class="font-weight-light" href={`/lore/${slug}`}>
    {entry.data.title}
    <LinkIcon />
  </a>
</Heading>

<Content />
