---
//@ts-nocheck i dont care
import type { CollectionEntry } from 'astro:content'

import MapPin     from '@/icons/map-pin.astro'
import UserCircle from '@/icons/head.astro'
import BookOpen   from '@/icons/book.astro'

import { resolve } from '@utils'

interface Props {
  ref: string | { collection: string, slug: string }
  class?: string
}

const { ref, class: cl } = Astro.props
const entry = await resolve(ref)
---
{ typeof entry === 'string' ? entry :
  <a href=`/${entry.collection}/${entry.slug}` class:list={[ cl, "inline-flex minilink gap-1 hover:underline font-bold" ]}>
    { entry.collection === 'location' && <MapPin     class="size-5 "/> }
    { entry.collection === 'person'   && <UserCircle class="size-5 "/> }
    { entry.collection === 'lore'     && <BookOpen   class="size-5 "/> }

    { entry.data.name ?? entry.data.title ?? entry.data.day_name }
  </a>
}
