<a href="/" transition:persist class="id-title relative block w-full aspect-[1320/30]">
  <svg viewBox="0 0 1320 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="tri rev" d="M651.406 5.15625L658.281 0L665.156 5.15625H651.406Z" fill="white" />
    <rect class="rev line" x="0" y="4.5" width="1320" height="1" fill="white" />
    <g fill="white">
    <!-- L --><path class="rev letter d-5 left"  d="M28.1035 29.2187V12.375H29.8841V27.6787H39.3166V29.2187H28.1035Z" />
    <!-- O --><path class="rev letter d-4 left"  d="M173.855 29.3631C172.588 29.3631 171.409 29.1546 170.318 28.7375C169.243 28.3044 168.305 27.7028 167.503 26.9328C166.717 26.1468 166.099 25.2404 165.65 24.2137C165.217 23.171 165 22.0321 165 20.7969C165 19.5617 165.217 18.4307 165.65 17.4041C166.099 16.3613 166.717 15.455 167.503 14.685C168.305 13.899 169.243 13.2974 170.318 12.8803C171.393 12.4472 172.572 12.2306 173.855 12.2306C175.122 12.2306 176.293 12.4472 177.368 12.8803C178.443 13.2974 179.373 13.8909 180.159 14.6609C180.962 15.4309 181.579 16.3373 182.012 17.38C182.461 18.4227 182.686 19.5617 182.686 20.7969C182.686 22.0321 182.461 23.171 182.012 24.2137C181.579 25.2565 180.962 26.1628 180.159 26.9328C179.373 27.7028 178.443 28.3044 177.368 28.7375C176.293 29.1546 175.122 29.3631 173.855 29.3631ZM173.855 27.775C174.866 27.775 175.796 27.6066 176.646 27.2697C177.513 26.9168 178.259 26.4275 178.884 25.8019C179.526 25.1602 180.023 24.4223 180.376 23.5881C180.729 22.7379 180.905 21.8075 180.905 20.7969C180.905 19.7862 180.729 18.8638 180.376 18.0297C180.023 17.1795 179.526 16.4416 178.884 15.8159C178.259 15.1743 177.513 14.685 176.646 14.3481C175.796 13.9952 174.866 13.8187 173.855 13.8187C172.844 13.8187 171.906 13.9952 171.04 14.3481C170.174 14.685 169.42 15.1743 168.778 15.8159C168.152 16.4416 167.655 17.1795 167.286 18.0297C166.933 18.8638 166.757 19.7862 166.757 20.7969C166.757 21.7915 166.933 22.7138 167.286 23.5641C167.655 24.4143 168.152 25.1602 168.778 25.8019C169.42 26.4275 170.174 26.9168 171.04 27.2697C171.906 27.6066 172.844 27.775 173.855 27.775Z" />
    <!-- N --><path class="rev letter d-3 left"  d="M307.656 29.2187V12.375H309.124L320.746 27.005H319.976V12.375H321.733V29.2187H320.265L308.667 14.5887H309.437V29.2187H307.656Z" />
    <!-- G --><path class="rev letter d-2 left"  d="M455.754 29.3631C454.471 29.3631 453.284 29.1546 452.193 28.7375C451.118 28.3044 450.18 27.7028 449.378 26.9328C448.592 26.1628 447.974 25.2565 447.525 24.2137C447.092 23.171 446.875 22.0321 446.875 20.7969C446.875 19.5617 447.092 18.4227 447.525 17.38C447.974 16.3373 448.6 15.4309 449.402 14.6609C450.204 13.8909 451.142 13.2974 452.217 12.8803C453.308 12.4472 454.495 12.2306 455.778 12.2306C457.062 12.2306 458.233 12.4311 459.291 12.8322C460.366 13.2332 461.28 13.8428 462.034 14.6609L460.928 15.7919C460.222 15.086 459.444 14.5807 458.593 14.2759C457.743 13.9711 456.829 13.8187 455.85 13.8187C454.808 13.8187 453.845 13.9952 452.963 14.3481C452.097 14.685 451.335 15.1743 450.677 15.8159C450.035 16.4416 449.53 17.1795 449.161 18.0297C448.808 18.8638 448.632 19.7862 448.632 20.7969C448.632 21.7915 448.808 22.7138 449.161 23.5641C449.53 24.4143 450.035 25.1602 450.677 25.8019C451.335 26.4275 452.097 26.9168 452.963 27.2697C453.845 27.6066 454.8 27.775 455.826 27.775C456.789 27.775 457.695 27.6306 458.545 27.3419C459.412 27.0531 460.206 26.5638 460.928 25.8741L461.938 27.2216C461.136 27.9274 460.198 28.4648 459.123 28.8337C458.048 29.1867 456.925 29.3631 455.754 29.3631ZM460.23 27.005V20.7969H461.938V27.2216L460.23 27.005Z" />
    <!-- B --><path class="rev letter d-1 left"  d="M587.812 29.2187V12.375H595.079C596.956 12.375 598.408 12.752 599.435 13.5059C600.477 14.2599 600.999 15.3267 600.999 16.7062C600.999 17.6206 600.782 18.3906 600.349 19.0162C599.932 19.6419 599.354 20.1151 598.617 20.4359C597.895 20.7568 597.101 20.9172 596.234 20.9172L596.643 20.3397C597.718 20.3397 598.641 20.5081 599.411 20.845C600.197 21.1658 600.806 21.6551 601.239 22.3128C601.672 22.9545 601.889 23.7565 601.889 24.719C601.889 26.1468 601.36 27.2536 600.301 28.0397C599.258 28.8257 597.678 29.2187 595.561 29.2187H587.812ZM589.593 27.7509H595.537C597.012 27.7509 598.143 27.5023 598.929 27.005C599.715 26.4917 600.108 25.6815 600.108 24.5747C600.108 23.4838 599.715 22.6898 598.929 22.1925C598.143 21.6792 597.012 21.4225 595.537 21.4225H589.401V19.9547H594.959C596.307 19.9547 597.349 19.698 598.087 19.1847C598.841 18.6713 599.218 17.9094 599.218 16.8987C599.218 15.8721 598.841 15.1101 598.087 14.6128C597.349 14.0995 596.307 13.8428 594.959 13.8428H589.593V27.7509Z" />
    <!-- R --><path class="rev letter d-1 right" d="M721.875 29.2187V12.375H728.179C729.607 12.375 730.834 12.6076 731.861 13.0728C732.888 13.522 733.674 14.1797 734.219 15.0459C734.781 15.8961 735.061 16.9308 735.061 18.15C735.061 19.3371 734.781 20.3637 734.219 21.23C733.674 22.0802 732.888 22.7379 731.861 23.2031C730.834 23.6523 729.607 23.8769 728.179 23.8769H722.862L723.656 23.0587V29.2187H721.875ZM733.377 29.2187L729.046 23.1069H730.971L735.326 29.2187H733.377ZM723.656 23.2031L722.862 22.3609H728.131C729.816 22.3609 731.091 21.992 731.957 21.254C732.839 20.5161 733.281 19.4814 733.281 18.15C733.281 16.8025 732.839 15.7598 731.957 15.0219C731.091 14.2839 729.816 13.915 728.131 13.915H722.862L723.656 13.0728V23.2031Z" />
    <!-- I --><path class="rev letter d-2 right" d="M862.812 29.2187V12.375H864.593V29.2187H862.812Z" />
    <!-- D --><path class="rev letter d-3 right" d="M991.719 29.2187V12.375H998.577C1000.37 12.375 1001.95 12.7359 1003.29 13.4578C1004.66 14.1636 1005.72 15.1502 1006.47 16.4175C1007.22 17.6848 1007.6 19.1446 1007.6 20.7969C1007.6 22.4492 1007.22 23.9089 1006.47 25.1762C1005.72 26.4435 1004.66 27.4381 1003.29 28.16C1001.95 28.8658 1000.37 29.2187 998.577 29.2187H991.719ZM993.499 27.6787H998.48C999.972 27.6787 1001.26 27.39 1002.35 26.8125C1003.46 26.2189 1004.32 25.4088 1004.93 24.3822C1005.54 23.3395 1005.84 22.1444 1005.84 20.7969C1005.84 19.4333 1005.54 18.2382 1004.93 17.2115C1004.32 16.1849 1003.46 15.3828 1002.35 14.8053C1001.26 14.2118 999.972 13.915 998.48 13.915H993.499V27.6787Z" />
    <!-- G --><path class="rev letter d-4 right" d="M1143.25 29.3631C1141.97 29.3631 1140.78 29.1546 1139.69 28.7375C1138.62 28.3044 1137.68 27.7028 1136.88 26.9328C1136.09 26.1628 1135.47 25.2565 1135.02 24.2137C1134.59 23.171 1134.38 22.0321 1134.38 20.7969C1134.38 19.5617 1134.59 18.4227 1135.02 17.38C1135.47 16.3373 1136.1 15.4309 1136.9 14.6609C1137.7 13.8909 1138.64 13.2974 1139.72 12.8803C1140.81 12.4472 1141.99 12.2306 1143.28 12.2306C1144.56 12.2306 1145.73 12.4311 1146.79 12.8322C1147.87 13.2332 1148.78 13.8428 1149.53 14.6609L1148.43 15.7919C1147.72 15.086 1146.94 14.5807 1146.09 14.2759C1145.24 13.9711 1144.33 13.8187 1143.35 13.8187C1142.31 13.8187 1141.35 13.9952 1140.46 14.3481C1139.6 14.685 1138.83 15.1743 1138.18 15.8159C1137.54 16.4416 1137.03 17.1795 1136.66 18.0297C1136.31 18.8638 1136.13 19.7862 1136.13 20.7969C1136.13 21.7915 1136.31 22.7138 1136.66 23.5641C1137.03 24.4143 1137.54 25.1602 1138.18 25.8019C1138.83 26.4275 1139.6 26.9168 1140.46 27.2697C1141.35 27.6066 1142.3 27.775 1143.33 27.775C1144.29 27.775 1145.2 27.6306 1146.05 27.3419C1146.91 27.0531 1147.71 26.5638 1148.43 25.8741L1149.44 27.2216C1148.64 27.9274 1147.7 28.4648 1146.62 28.8337C1145.55 29.1867 1144.43 29.3631 1143.25 29.3631ZM1147.73 27.005V20.7969H1149.44V27.2216L1147.73 27.005Z" />
    <!-- E --><path class="rev letter d-5 right" d="M1278.62 19.9065H1287.52V21.4225H1278.62V19.9065ZM1278.81 27.6787H1288.94V29.2187H1277.03V12.375H1288.58V13.915H1278.81V27.6787Z" />
    </g>
  </svg>

  <span class="absolute inset-0 sr-only" href="/"> Home </span>
</a>

<style define:vars={{ s: '1s' }}>
  .tri {
    opacity: 0;
    transition: opacity calc(var(--s)/2) ease-out;
    &.go { opacity: 1; }
  }

  .line {
    transform: scaleX(0);
    transition: transform calc(var(--s)*0.8) ease-out;
    transition-delay: calc(var(--s)/5);
    transform-origin: center;
    &.go { transform: scaleX(1); }
  }

  .letter {
    opacity: 0;
    transition: transform calc(var(--s)/2) ease-out, opacity calc(var(--s)/1) ease-in-out;

    &.left.d-1  { transform: translateX(2%); }
    &.left.d-2  { transform: translateX(4%); }
    &.left.d-3  { transform: translateX(6%); }
    &.left.d-4  { transform: translateX(8%); }
    &.left.d-5  { transform: translateX(10%); }

    &.right.d-1 { transform: translateX(-2%); }
    &.right.d-2 { transform: translateX(-4%); }
    &.right.d-3 { transform: translateX(-6%); }
    &.right.d-4 { transform: translateX(-8%); }
    &.right.d-5 { transform: translateX(-10%); }

    &.d-1 { transition-delay: calc(var(--s)/10 * 0); }
    &.d-2 { transition-delay: calc(var(--s)/10 * 1); }
    &.d-3 { transition-delay: calc(var(--s)/10 * 2); }
    &.d-4 { transition-delay: calc(var(--s)/10 * 3.5); }
    &.d-5 { transition-delay: calc(var(--s)/10 * 5); }

    &.go {
      opacity: 1;
      transform: translateX(0%) !important;
    }
  }
</style>

<script>
  const reveal = document.querySelectorAll('.id-title .rev')

  requestAnimationFrame(() => {
    reveal.forEach(e => e.classList.add('go'))
  })
</script>
