<a href="/" transition:persist class="id-title relative block w-full h-[1.5rem]">
  <hr class="line rev" />

  <span class="absolute inset-0 sr-only" href="/"> Longbridge </span>

  <span class="absolute not-sr-only font-title px-1 text-[1rem] flex justify-between w-full">
    <span class="rev letter d-5 left ">L</span>
    <span class="rev letter d-4 left ">O</span>
    <span class="rev letter d-3 left ">N</span>
    <span class="rev letter d-2 left ">G</span>
    <span class="rev letter d-1 left ">B</span>
    <span class="rev letter d-1 right">R</span>
    <span class="rev letter d-2 right">I</span>
    <span class="rev letter d-3 right">D</span>
    <span class="rev letter d-4 right">G</span>
    <span class="rev letter d-5 right">E</span>
  </span>
</a>

<style define:vars={{ s: '1s' }}>
  .line {
    transform: scaleX(0);
    transition: transform calc(var(--s)*0.8) ease-out;
    transition-delay: calc(var(--s)/5);
    transform-origin: center;
    &.go { transform: scaleX(1); }
  }

  .letter {
    opacity: 0;
    transition: transform calc(var(--s)*0.7) ease-out, opacity calc(var(--s)/1) ease-in-out;
    transform: translateY(50%);

    &.d-1 { transition-delay: calc(var(--s)/10 * 0); }
    &.d-2 { transition-delay: calc(var(--s)/10 * 1); }
    &.d-3 { transition-delay: calc(var(--s)/10 * 3); }
    &.d-4 { transition-delay: calc(var(--s)/10 * 4.5); }
    &.d-5 { transition-delay: calc(var(--s)/10 * 6); }

    &.go {
      opacity: 1;
      transform: translateY(0%);
    }
  }
</style>

<script>
  const reveal = document.querySelectorAll('.id-title .rev')

  requestAnimationFrame(() => {
    reveal.forEach(e => e.classList.add('go'))
  })
</script>
