---
import Layout from '@/layouts/Layout.astro'
import Related from '@comp/Related.astro'

import { getCollection } from 'astro:content'

// All entries
export async function getStaticPaths() {
  const lore = await getCollection('lore')
  return lore.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

// This entry
const { entry } = Astro.props
const { Content } = await entry.render()
---
<Layout title={entry.data.title}>
  <h1 class="max-w-prose mx-auto text-3xl md:text-4xl mb-4 md:mb-8 lg:mb-16 font-title-wide">{ entry.data.title }</h1>

  <div class="prose mx-auto">
    <Content />

    <Related entry={entry} />
  </div>
</Layout>
