---
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/Title.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const lore = await getCollection('lore')
  return lore.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}


// This record

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout title={entry.data.title}>
  <div class="prose mx-auto">
    <h3 class="text-4xl font-title"> {entry.data.title} </h3>
    <Content />
  </div>
</Layout>
