---
import Layout from '@/layouts/Layout.astro'
import Title from '@/components/Title.astro'

import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const lore = await getCollection('lore')
  return lore.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}


// This record

const { entry } = Astro.props
const { Content } = await entry.render()

const tags = entry.data.tags

console.log(tags)

const related = await getCollection('lore', ({ data }) => {
  return data.tags.some((tag) => tags.includes(tag))
})

console.log(related.map((e) => e.data.tags))
---

<Layout title={entry.data.title}>
  <div class="prose mx-auto">
    <h1 class="text-4xl font-title"> {entry.data.title} </h1>
    <Content />
  </div>
</Layout>
