---
import Layout  from '@/layouts/Layout.astro'
import Related from '@comp/Related.astro'
import Heading from '@comp/PageHeading.astro'

import { getCollection, render } from 'astro:content'

// All entries
export async function getStaticPaths() {
  const lore = await getCollection('lore')
  return lore.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }))
}

// This entry
const { entry } = Astro.props
const { Content } = await render(entry)
---
<Layout title={entry.data.title}>
  <Heading>{ entry.data.title }</Heading>

  <div class="prose mx-auto">
    <Content />

    <Related entry={entry} />
  </div>
</Layout>
