---
import Layout  from '@/layouts/Layout.astro'
import Related from '@comp/Related.astro'
import Heading from '@comp/PageHeading.astro'

import { getCollection } from 'astro:content'

// All entries
export async function getStaticPaths() {
  const lore = await getCollection('lore')
  return lore.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

// This entry
const { entry } = Astro.props
const { Content } = await entry.render()
---
<Layout title={entry.data.title}>
  <Heading>{ entry.data.title }</Heading>

  <div class="prose mx-auto">
    <Content />

    <Related entry={entry} />
  </div>
</Layout>
