---
export const prerender = false

import { getCollection } from 'astro:content'
import { titlecase } from '@utils'

import Fuse     from 'fuse.js'
import WikiLink from '@/lib/wikilink.ts'

import Layout   from '@/layouts/Layout.astro'
import MiniLink from '@comp/MiniLink.astro'
import Summary  from '@comp/embed/Summary.astro'
import Heading  from '@comp/PageHeading.astro'

const query = Astro.url.searchParams.get('q')

const all = await Promise.all([
  getCollection('lore'),
  getCollection('person'),
  getCollection('location'),
])

const index = new Fuse(all.flat(), {
  includeScore: true,
  keys: [ 'data.title', 'body', { name: 'data.tags', weight: 0.3 } ],
  threshold: 0.4,
})

const results = !query ? [] : index.search(query)
---
<Layout title="Search">
  <Heading>
    { query ? `Searching "${ query }"` : 'Search' }
  </Heading>

  { results.length === 0 &&
    <div class="text-center">
      <p class="text-lg">
        No results found for <strong>{ query }</strong>
      </p>
    </div>
  }

  <nav class="grid gap-8 pt-4">
    { results.map(({ item, score }) =>
      <div class="grid gap-2">
        <MiniLink ref={item} />

        <div class="pl-7">
          <Summary src={ WikiLink.fromEntry(item).toLink() } />
        </div>
      </div>
    )}
  </nav>
</Layout>
