@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-variable.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-variable-italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Light.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-LightItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-MediumItalic.ttf');
  font-style: italic;
  font-weight: 500;
}

@layer base {
  :root {
    --font-title: 'Montserrat', sans-serif;
    --font-body:  'Roboto', sans-serif;
    --font-mono:  'Fira Code', monospace;

    --title-height: 1.5rem;

    scrollbar-gutter: stable;
    color: white;
    font-family: var(--font-body);
    font-size: 18px;
  }

  /* Fancy HR */
  hr {
    position: relative;
    height: 1px;
    overflow: visible;
    background: white;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 0;
      height: 0;
      border-width: 0.3rem;
      transform: translateX(-50%);
      border-color: transparent transparent white;
    }
  }


  /* Standard text link treatment */

  a.hl, .prose a[href] {
    text-decoration-color: transparent;
    text-underline-offset: 0.2em;
    transition: text-decoration-color 0.1s linear, text-underline-offset 0.1s ease-out;
    font-weight: 500;
    &:hover { text-decoration-color: currentColor; text-underline-offset: 0.1em; }
  }

  a[href=""] {
    color: yellow !important;
  }

}

@layer utilities {
  .debug, .debug * {
    outline: 1px solid red;
  }

  .grid-center {
    display: grid;
    place-items: center;
  }


  /* Title Fonts */

  .font-title-xwide {
    font-family: var(--font-title);
    letter-spacing: 0.5em;
  }

  .font-title-wide {
    font-family: var(--font-title);
    letter-spacing: 0.2rem;
  }

  .font-title {
    font-family: var(--font-title);
  }


  /* Simple UI Primitives */

  .btn {
    @apply font-title text-sm text-center pt-0.5 px-2 border rounded;
    transition: background-color 0.1s linear;
    &:hover { background-color: rgba(255, 255, 255, 0.1); }
  }


  /* Tailwind Typography Overrrides */

  .prose {
    letter-spacing: 0.03rem;

    h1, h2, h3, h4, h5, h6 {
      font-family: var(--font-title);

      a[href] {
        font-weight: 300;
        text-decoration: none;
      }
    }

    h1, h2, h3 {
      font-weight: 300;
      letter-spacing: 0.2rem;
    }

    h4 {
      font-weight: 400;
      letter-spacing: 0.1rem;
    }

    h5, h6 {
      font-weight: 400;
      letter-spacing: 0.05rem;
    }

    code, blockquote {
      color: inherit;
    }

    code::before, code::after {
      content: '';
    }
  }


  /* For story formatting */

  .prose-book {
    p {
      text-indent: 1.5rem;
      text-align: justify;

      &:first-child {
        margin-bottom: 0.5rem;
      }
    }

    p + p {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }


  /* Apply this hack to h6 and h6 as well */

  :where(h5 + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0 !important;
  }
  :where(h6 + *):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    margin-top: 0 !important;
  }

}
