---
interface Props {
  title: string;
}

import '../base.css';

import Title from '@/components/Title.astro';

const { title } = Astro.props;
---
<!doctype html>
<html lang="en" class="bg-sky-day" style="background-attachment: fixed;">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-white min-h-screen">
    <main class="pt-8 py-16 max-w-6xl mx-auto">
      <Title />

      <div class="mx-auto mt-16 px-8 grid gap-16">
        <slot />
      </div>
    </main>
  </body>
</html>
