---
import '../base.css'
import { ViewTransitions } from 'astro:transitions'

import Title from '@/components/Title.astro'

interface Props {
  title:   string
  description?: string
  class?:  string
  debug?:  boolean
  center?: boolean
  sky?: 'simple' | 'morningside' | 'eveningside' | 'high-clouds'
}

const {
  title,
  description = "Welcome to Longbridge",
  class: cl,
  debug = false,
  center = false,
  sky = 'morningside'
} = Astro.props

const bg =
  sky === 'high-clouds' ? 'bg-high-clouds' :
  sky === 'morningside' ? 'bg-morningside' :
  sky === 'eveningside' ? 'bg-eveningside' :
    'bg-simple-sky'

---
<!doctype html>
<html lang="en" class:list={[ debug ? "debug" : "", bg, "bg-sky-600" ]} style="background-attachment:fixed">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="{ description }" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="16x16 32x32 64x64">
    <link rel="icon" href="icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class:list={[ cl, "text-white min-h-screen min-w-[420px]" ]}>
    <main class="py-8 lg:py-[5vw] flex flex-col min-h-screen px-4 md:px-8 xl:px-16 max-w-7xl mx-auto">
      <Title />

      <div class:list={[ "mx-auto px-4 lg:px-8 py-8 lg:mt-[5vw] flex-grow", center ? "grid-center" : "" ]}>
        <slot />
      </div>
    </main>
  </body>
</html>

<style>
  .bg-simple-sky {
    background-image: linear-gradient(180deg, theme('colors.sky-day-dark'), theme('colors.sky-day-light'));
  }

  .bg-morningside {
    background-image: linear-gradient(180deg, #003155 0%, #1880CB 60%, #B1DCFB 100%);
  }

  .bg-eveningside {
    background-image: linear-gradient(180deg, #000000 0%, #00223A 21%, #005B9C 70%, #2E4563 85%, #083759 94%);
  }

  .bg-high-clouds {
    background-image: linear-gradient(180deg, #003155 0%, #1880CB 49%, #84CBFF 62.5%, #FFFFFF 80.5%);
  }
</style>
