---
import '../base.css'
import { ViewTransitions } from 'astro:transitions'

import Title from '@/components/Title.astro'

interface Props {
  title: string;
  cl?:   string;
}

const { title, class: cl } = Astro.props
---
<!doctype html>
<html lang="en" class="bg-sky-day" style="background-attachment:fixed">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class:list={[ cl, "text-white min-h-screen min-w-[420px]" ]}>
    <main class="py-8 lg:py-[5vw] px-4 md:px-8 xl:px-16 max-w-7xl mx-auto">
      <Title />

      <div class="mx-auto px-4 lg:px-8 py-8 grid lg:mt-[5vw]">
        <slot />
      </div>
    </main>
  </body>
</html>
